<div class="image-container">
  <h1>Santa Paula Electrical Supply</h1>
  </br>
  </br>
  <h2>Opening December 2016</h2>
</br>
</br>
</br>
</br>
</br>
</br>
</br>
<div class="container">
  <div class="row">

      <div class="col-md-4">
      <i class="fa fa-envelope-o fa-4x" aria-hidden="true"></i>
  <p>info@santapaulaelectricalsupply.com</p>
     </div>

    <div class="col-md-4">
<i class="fa fa-phone fa-4x" aria-hidden="true"></i>
  <p>818-427-4767</p>
   </div>
    
    <div class="col-md-4">
      <i class="fa fa-map-marker fa-4x" aria-hidden="true"></i>
      <p>108 Calavo St. unit A Santa Paula, CA, 93060</p>
    </div>
   </div>
 </div>
</div>